<div class='tasks'>
  <div class= 'container-fluid'>
    <h4 style='text-align: center'>Tasks</h4> 

      <%= form_for @task do |f| %>
        <%= f.label :description, 'create a task'%>
        <%= f.text_field :description %>
        <%= f.text_field :due_date%>
        <%= f.submit %>
        
      <% end %>



  </div>
    
</div>